.about-page {
    margin-top: -95px;
  font-family: 'outfit';
    color: #333;
}

.about-hero {
    height: 110vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 40px;
    z-index: 1;
}

.about-hero img.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.about-hero p {
    font-size: 1.2rem;
    color: #c05959;
    margin: 0;
}

.about-hero img {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 1.2rem;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 10%;
    gap: 40px;
    align-items: center;
    background-color: #fdfdfd;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-text p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.cta-section {
    background-color: #6ca7af;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.cta-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.cta-button {
    background-color: #cc6d70;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #e14e51;
}

@media (max-width: 768px) {
    .about-hero img.logo {
        max-width: 150px;
    }

    .about-hero p {
        font-size: 1rem;
    }
}
