.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    margin-top: auto;
}

.footer-text {
    color: #6c757d;
    margin: 0;
    font-size: 16px;
}
/* .footer-text:hover {
    color:red;
    margin: 0;
    font-size: 18px;
} */